*{
    margin: 0px;
    padding: 0px;
}

.test{
    color: blue;
   cursor: progress;
}
.test1{
    color: chartreuse;
}
.container{
    display: flex;
}
.box{
    padding: 20px;
    background-color: red;
    width: 110px;
}
.box2{
    background: green;
}
.box3{
    background-color: blue;
}